{{template "base" .}}
{{ define "title" }}
    Buy one widget
{{ end }}
{{ define "content"}}
    <h2 class="mt-3 text-center">Buy One Widget</h2>
    <hr>
    <img src="/static/log_normal.svg" height="100" alt="Logo" class="image-fluid rounded mx-auto d-block">

{{ end}}